<!-- <md-grid-tile>
  
</md-grid-tile> -->
<md-grid-tile-header>
<span class="md-primary" ng-click="goBack()"><<==</span>
    <center><h3>Add Person</h3></center>
  </md-grid-tile-header>

<md-content layout-padding>
    <md-list-item class="md-3-line" ng-repeat="data in personData">
	   <div>
	   		<strong><span style="color:black;">==========</span>{{data}}</strong>
	   </div>
	   <md-divider ></md-divider>
	 </md-list-item>

	 <div ng-click="addPerson()">
	 	Add person
	 </div>
</md-content>
