<!-- <md-grid-tile>
  
</md-grid-tile> -->
<md-grid-tile-header>
<span class="md-primary" ng-click="goBack()"><<==</span>
    <center><h3>Benefits</h3></center>
  </md-grid-tile-header>

<div ng-click="goToEnrollmentSurvey1()">
	go to enrollement
</div>

<md-content layout-padding>
    <md-list-item class="md-3-line" ng-repeat="data in benefitList">
	   <md-icon md-svg-icon=""></md-icon>
	   <img class="md-avatar" alt="" />
	   <div class="md-list-item-text" layout="column">
	        <h4>{{data.title}}</h4>
	        <p>{{data.description}}</p>
	   </div>
	   <md-divider ></md-divider>
	 </md-list-item>
</md-content>
