<div layout="row">
	<div flex>
		<md-grid-tile-header>
		    <center><h3>Dashboard</h3></center>
		</md-grid-tile-header>
	</div>
</div>


<div class="" ng-click="goToBenefitDashboard()">
    Benefit dashboard
</div>

<md-content layout-padding>
    <md-list-item class="md-3-line">
	   Things To Do
	   <img class="md-avatar" alt="" />
	   <div class="md-list-item-text" layout="column">
	        <h4> Open Enrollment 2017</h4>
	        <p>24 Days Left</p>
	   </div>
	   <md-divider ></md-divider>
	 </md-list-item>
</md-content>



<div layout="row">
  <div flex>First item in row</div>
</div>
