<md-toolbar class="header-bg">
  	<div class="md-toolbar-tools">
	    <md-button class="md-icon-button" show-sm ng-click="goToBenefitDashboard()">
	      <md-icon ng-bind="'menu'" class="icon-color"></md-icon>
	    </md-button>
	    <span flex></span>
    	<h1><span class="header-text">Dashboard</span></h1>
    	<span flex></span>
  	</div>
</md-toolbar>

<md-content class="content-background">
  	<md-card class="md-padding">
        <md-card-title padding-layout>
          	<md-card-title-text>
            	<span class="text-color md-headline">Things To Do</span>
          	</md-card-title-text>
          	<md-divider></md-divider>
        </md-card-title>

        <md-list>
	      <md-list class="md-dense" class="md-padding" flex>
			    <md-list-item class="list-border-left list-border md-3-line md-long-text" ng-click="goToBenefitDashboard()">
				   <md-icon ng-bind="'group_add'" class="icon-color">
				   </md-icon>
				    <div class="md-list-item-text" layout="column">
			            <h3 class="text-color">Open Enrollment 2017</h3>
			            <p>24 days left</p>
			        </div>
				   	<md-icon ng-bind="'chevron_right'"></md-icon>
				</md-list-item>

				<md-list-item class="list-border md-3-line md-long-text">
				</md-list-item>

				<md-list-item class="list-border md-3-line md-long-text">
				</md-list-item>
			</md-list>
	    </md-list>
    </md-card>
</md-content>
      

