<md-toolbar class="header-bg">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"  show-sm  ng-click="goToPaymentEnrollement()">
          	<md-tooltip>Next</md-tooltip>
          	<md-icon ng-bind="'chevron_left'" class="icon-color"></md-icon>
        </md-button>
        <h1 flex="90" class="header-text">Enrollment 2017</h1>
    </div>
</md-toolbar>
<md-divider ></md-divider>

<md-content class="content-background">
		
		<div>
			You Did It!
			   <md-divider ></md-divider>
		</div>
		<center><div>
			Confirmation Number:

			1230981230981
			STATEMENT
		</div></center>
		<md-divider ></md-divider>
	    
		   <div>
		        Rate your experience
		   </div>
</md-content>
<md-toolbar class="header-bg">
    <div>
      <span flex="30"></span>
      <md-button flex="30" class="md-raised md-primary-btn" type="button">Blue</md-button>
      <span flex="30"></span>
    </div>
</md-toolbar>