<md-toolbar class="header-bg">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"  show-sm  ng-click="goBack()">
          	<md-icon ng-bind="'chevron_left'" class="icon-color"></md-icon>
        </md-button>
        <h1 flex="90" class="header-text">Enrollment 2017</h1>
    </div>
</md-toolbar>

<md-content class="content-background">
		
		<div class="md-padding">
			<br/>
			<div>Who is Covered</div>
			<br/>
		</div>
		
		 <md-list class="header-bg md-dense" flex>
		    <md-list-item class="md-3-line md-long-text">
			   	<img ng-src="pics/amy_jones.jpg" class="md-avatar" >
			    <div class="md-list-item-text" layout="column">
		            <p>Jane Taylor, John Taylor, +2 Others</p>
		        </div>
			   	<md-icon ng-bind="'chevron_right'"></md-icon>
			   	<md-divider ></md-divider>
			</md-list-item>
		 </md-list>
		 <div class="md-padding">
			<br/>
			<div>4 Need Review</div>
		 </div>
		
		<md-divider ></md-divider>
		<md-list class="md-dense" flex style="background-color: #ffffff;">
		    <md-list-item class="md-3-line md-long-text" ng-repeat="data in medicalList" ng-click="goToBenefitSelection()">
			   	<md-icon ng-bind="data.glyphicons" class="medical-icon-color-unpaid"></md-icon>
			    <div class="md-list-item-text" layout="column">
		            <h3><b>{{data.title}}</b></h3>
		            <p>{{data.description}}</p>
		        </div>
			   	<md-icon ng-bind="'chevron_right'"></md-icon>
			   	<md-divider ></md-divider>
			</md-list-item>
		</md-list>
		<div layout flex class="md-padding md-primary-btn">
			<span flex="90">Cost Per Paycheck
			</span>
			<span flex="10">$300
			</span>
		</div>
</md-content>
<md-toolbar class="header-bg">
    
</md-toolbar>