<md-toolbar class="header-bg">
    <div class="md-toolbar-tools">
        <h1 flex="90" class="header-text">Before You Begin</h1>
        <md-button class="md-icon-button"  show-sm  ng-click="goBack()">
          	<md-tooltip>Next</md-tooltip>
          	<md-icon ng-bind="'clear'" style="color: #000000;"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-content layout-wrap layout-fill style="background-color: #e4e4e4;" ng-click="goNext()">
	<div layout flex>
		<span flex="40" class="border-after-header-40">
		</span>
		<span flex="60" class="border-after-header-60">
		</span>
	</div>
	<center>
		<h3 class="md-padding">
			<center class="md-display-1">Please answer...</center>
			<div class="md-headline">
				Lorem ipsum dolor sit

				amet, consectetur

				adipiscing elit, sed do

				eiusmod?
			</div>
		</h3>
	</center>

	<md-radio-group class="md-padding" ng-repeat="data in dataList">
		<md-radio-button class="md-primary" value="{{data.value}}" aria-label="{{data.title}}{{$index+1}}" >
	  	<div class="radio-button-text">{{data.title}} {{$index+1}}</div>
		</md-radio-button>
	</md-radio-group>
</md-content>


<md-toolbar class="header-bg">
    <div class="md-toolbar-tools">
      <md-button flex="30" class="md-raised md-primary-btn" ng-click="goBack()" type="button">PREVIOUS</md-button>
      <span flex="40"></span>
      <md-button flex="30" class="md-raised md-primary-btn" ng-click="goNext()" type="button">NEXT</md-button>
    </div>
</md-toolbar>











  