
<!-- <md-grid-tile-header>
<span class="md-primary" ng-click="goBack()"><<==</span>
    <center><h3>{{planData.title}}</h3></center>
  </md-grid-tile-header>

<div >
    <center><h3>{{planData.description}}</h3></center>
</div>
<div>
	<center>{{planData.price}}<br/>Per Paycheck</center>
</div>
<md-content layout-padding>
    <md-list-item class="md-3-line" ng-repeat="data in medicalList">
	   <div></div>
	   <md-divider ></md-divider>
	 </md-list-item>
	 <div ng-click="selectPlan()">
	 	SELECTED PLAN
	 </div>
</md-content>
 -->
<md-toolbar class="header-bg">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"  show-sm  ng-click="goBack()">
          	<md-tooltip>Next</md-tooltip>
          	<md-icon ng-bind="'chevron_left'" class="icon-color"></md-icon>
        </md-button>
        <h1 flex="90" class="header-text">{{planData.title}}</h1>
    </div>
</md-toolbar>
<md-divider ></md-divider>

<md-content class="content-background">
		
		<div class="md-primary-btn md-padding">
			<br/>
			<div>
				{{planData.description}}
			</div>
			<br/>
		</div>
		<div class="header-bg" ng-click="goNext()">
			<br/>
			<div>
				<center><b>{{planData.price}}</b></center><br/>
				<center>Per Paycheck</center>
			</div>
			<br/>
		</div>
		
		<md-divider ></md-divider>
		<md-list class="md-dense" flex>
		    <md-list-item class="md-3-line md-long-text" ng-repeat="data in medicalList" ng-click="goNext()">
			   
			   	<md-divider ></md-divider>
			</md-list-item>
		</md-list>
	    
</md-content>
<md-toolbar class="header-bg">
    <div>
      <span flex="30"></span>
      <md-button flex="30" class="md-raised md-primary-btn" ng-click="goNext()" type="button"><center>Select Plan</center></md-button>
      <span flex="30"></span>
    </div>
</md-toolbar>