<md-toolbar class="header-bg">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"  show-sm  ng-click="goBack()">
          	<md-tooltip>Next</md-tooltip>
          	<md-icon ng-bind="'chevron_left'" class="icon-color"></md-icon>
        </md-button>
        <h1 flex="90" class="header-text">{{planData.title}}</h1>
    </div>
</md-toolbar>
<md-divider ></md-divider>

<md-content class="content-background md-padding">
	<div class="header-bg">
		<div class="md-primary-btn md-padding">
			<h1 class="md-title">
				{{planData.description}}
			</h1>
		</div>
		<div  ng-click="goNext()">
			<center>
				<h1 class="md-headline">
					{{planData.price}}
				</h1>
				<p>
					Per Paycheck
				</p>
			</center>
		</div>
		<md-divider ></md-divider>
		<md-list class="md-dense" flex>
		    <md-list-item class="md-3-line md-long-text" ng-repeat="data in medicalList" ng-click="goNext()">
			   	<div layout flex>
					<span flex class="empty-box">
					</span>
				</div>
			</md-list-item>
		</md-list>
	</div>
</md-content>
<md-toolbar class="header-bg">
    <div class="md-padding" layout ng-click="goNext()">
      <span flex="30"></span>
      <center class="text-color"><md-icon ng-bind="'album'" class="medical-icon-color-paid"></md-icon>Select Plan</center>
      <span flex="30"></span>
    </div>
</md-toolbar>