.md-primary-btn {
	background-color : #1e92af !important;
	color : #ffffff !important;
}

.radio-button-text {
	color : #1e92af;
}

.header-bg {
	background-color: #ffffff;"
}

.header-text {
	color: #8A8A8A;"
}

.icon-color {
	color: #1e92af;
}

.list-border {
	background-color: #ffffff;
	border : 1px solid #e2e2e2;
}

.list-border-left {
	border-left: 10px solid #F39019;
}

.content-background {
	background-color: #e4e4e4;
	min-height: 100% !important;
}

.card-backgroung {
	background-color: #545E10;
}

.text-color {
	color: #8A8A8A !important;
}
.medical-icon-color-unpaid{
    color: #F27B30;
}
.medical-icon-color-paid{
    color: #2EB150;
}
