.md-primary-btn {
	background-color : #1e92af !important;
	color : #ffffff !important;
}

.md-disable-btn {
	background-color : #f2f2f2 !important;
	color : #000000 !important;
}

.radio-button-text {
	color : #1e92af;
}

.header-bg {
	background-color: #ffffff;"
}

.header-text {
	color: black;"
}

.icon-color {
	color: #1e92af !important;
}

.list-border {
	background-color: #ffffff;
	border : 1px solid #e2e2e2;
}

.list-border-left {
	border-left: 10px solid #F39019;
}

.list-border-benefit {
	background-color: #ffffff;
	border : 2px solid #1e92af;
	border-left: 10px solid #1e92af;
}

.content-background {
	background-color: #e4e4e4;
	min-height: 100% !important;
}

.card-backgroung {
	background-color: #545E10;
}

.text-color {
	color: #8A8A8A !important;
}

.medical-icon-color-unpaid{
    color: #F27B30;
}

.border-after-header-40{
	min-height:15px;
	background: #1e92af;
}

.border-after-header-60{
	min-height:15px;
	background: grey;
}

.medical-icon-color-unpaid{
    color: #F27B30;
}
.medical-icon-color-paid{
    color: #2EB150;
}

.empty-box{
	min-height:15px;
	background: #8A8A8A !important;
	border-radius: 10px;
}
